body
{
	background-color: #404040;
	font-family: 'Lato', sans-serif;
	padding-top: 5px;
}

.container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#log
{
	padding: 3px 25px 25px;
	background: #FFF;
	box-shadow:
		0px 0px 0px 5px rgba(255,255,255,0.4);
		0px 5px 20px rgba(0,0,0,0.4);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: table;
	position: static;
}

#log .header
{
	margin-bottom: 20px;
}

#log .header h3
{
	color: #275C35;
	font-size: 25px;
	font-weight: 900;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

#log .header p
{
	color: #878C88;
	font-size: 14px;
	letter-spacing: 1px;
}

#log .sep
{
	height: 1px;
	width: 100%;
	background: #CED6D0;
	margin: 0px -5px;
}

#log .inputs
{
	margin-top: 25px;
}

#log .inputs label
{
	color: #878C88;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 7px;
	display: block;
}

input::-webkit-input-placeholder
{
	color: #8B9E90;
}

input::-moz-placeholder
{
	color: #8B9E90;
}

#log .inputs input[type=text], input[type=password]
{
	background: #CED9D1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 0.8rem;
	border-radius: 3px;
	border: none;
	padding: 12px 9px;
	width: 330px;
	margin-bottom: 15px;
	box-shadow: inset 0px 2px 3px rgba(0,0,0,0.3);
	clear: both;
}

#log .inputs input[type=text]:focus, input[type=password]:focus
{
	background: #FFF;
	box-shadow: 0px 0px 0px 3px #5CED81, inset 0px 2px 3px rgba(0,0,0,0.2),
	0px 5px 5px rgba(0,0,0,0.15);
	outline: none;
}


#log .inputs input[type=submit]
{	
	width: 406px;
	margin-top: 15px;
	padding: 15px 0;
	color: #FFF;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 1px;
	background: -moz-linear-gradient(
		top,
		#9FE3BC 0%,
		#9DC7AC
	);
	
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#9FE3BC),
		to(#9DC7AC)
	);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #76947F;
	-moz-box-shadow:
		0px 5px 5px rgba(0,0,0,0.1)
		inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 5px 5px rgba(0,0,0,0.1)
		inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow:
		0px 5px 5px rgba(0,0,0,0.1)
		inset 0px 1px 0px rgba(255,255,255,0.5);
	text-shadow:
		0px 1px 3px rgba(0,0,0,0.4),
		0px 0px 0px rgba(255,255,255,0);
	display: table;
	position: static;
	clear: both;
}

#log .inputs input[type=submit]:hover
{
	background: -moz-linear-gradient(
		top,
		#9DC7AC 0%,
		#9FE3BC
	);
	
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#9DC7AC),
		to(#9FE3BC)
	);
}

#log .inputs .error
{
	margin-top: 10px;
	font-size: 12px;
}

.logo
{
	color: white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
}

.menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	padding: 10px;
}

.option
{
	float: center;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	opacity: 0.8;
}

.wyloguj #logu
{
	float: right;
	font-size: 14px;
	padding: 10px;
	color: #FFF;
	font-weight: 900;
	background-color: #C43535;
	letter-spacing: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	opacity: 0.8;
	text-decoration: none;
	
	display: table;
	position: static;
}

.optionB #logu
{
	float: left;
	font-size: 14px;
	padding: 10px;
	color: #FFF;
	font-weight: 900;
	background-color: #C43535;
	letter-spacing: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	opacity: 0.8;
	text-decoration: none;
	
	display: table;
	position: static;
	margin-left: 5px;
	margin-right: 5px;
}

#topbar
{
	background-color: #303030;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 575px;
}

.optionK
{
	float: center;
	font-size: 15px;
	opacity: 0.8;
	padding: 2px;
	font: white
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

div.tab .tablinks {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form .error {
    float: right;
    color: #c43535;
}

label {
    color: #303030;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

th, td {
    text-align: left;
    color: #303030;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #c43535;
    color: white;
}

.button {
    float: right;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #c43535;
}

.button3:hover {
    background-color: #c43535;
    color: white;
}

.button4:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
